* {
  box-sizing: border-box; }

@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham-Medium.otf"); }

@font-face {
  font-family: "Intro";
  src: url("fonts/Intro.ttf"); }

body {
  margin: 0;
  padding: 0;
  background-position: center;
  font-family: "Gotham", sans-serif;
  background-color: #1091f6;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; }

.App {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 104px;
  grid-gap: 0;
  height: 100vh;
  padding: 64px 96px; }

h1 {
  font-size: 40px;
  margin: 0;
  font-family: "Intro";
  color: #fff;
  background-color: #fdcb6e;
  padding: 24px;
  display: flex;
  align-items: center;
  line-height: 1; }

.Voting {
  background-color: #0876ca;
  text-align: left;
  padding: 24px;
  display: flex;
  flex-flow: column nowrap;
  position: relative; }

.Voters {
  padding: 24px;
  background-color: #0876ca; }

.Ranking button {
  width: 100%;
  margin: 0;
  padding: 4px 0;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.5);
  border-top: none;
  text-align: left; }

.Ranking + div {
  clear: both; }

.save-button {
  margin: 0;
  padding: 4px 0;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.5);
  border-top: none;
  text-align: left; }

.country {
  break-inside: avoid;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  color: white;
  font-size: 15px;
  margin: 0;
  position: relative;
  background-color: #0876ca;
  margin-bottom: 8px; }

.country__rank {
  margin-left: auto;
  margin-right: 0;
  font-size: 13px;
  color: #299df6;
  padding-top: 4px;
  display: inline-block; }

.country__name {
  font-size: 16px;
  padding: 8px 0 7px;
  font-family: "Intro"; }

.country__flag {
  vertical-align: middle;
  margin: 0;
  margin-right: 0;
  padding: 8px; }

.country__flag img {
  display: block;
  width: 28px;
  height: 20px;
  filter: saturate(1.5); }

.country__average {
  text-align: right;
  padding: 8px 12px 6px;
  width: 72px;
  background-color: transparent;
  font-size: 16px;
  display: block;
  text-align: right; }

.country--qualified {
  opacity: 0.2; }

.country--small {
  box-shadow: none;
  font-size: 10px;
  transition: 0.4s ease;
  margin: 0 0 4px;
  background-color: #0984e3;
  color: white; }

.country--small .country__rank {
  padding: 0 8px;
  float: right;
  margin-left: auto;
  margin-right: 0;
  font-size: 10px;
  color: white; }

.country--small .country__name {
  padding: 1px 0;
  font-family: "Gotham";
  font-size: 10px;
  text-transform: capitalize; }

.country--small .country__flag {
  margin-right: 4px;
  padding: 2px; }

.country--small .country__flag img {
  width: 16px;
  height: 12px; }

.country--small:hover {
  opacity: 0.5;
  cursor: pointer; }

.country--1, .country--2, .country--3 {
  position: relative; }

.country--1 .country__name:after, .country--2 .country__name:after, .country--3 .country__name:after {
  content: "";
  margin-left: 8px;
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23FF932B' d='M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z' /%3E%3C/svg%3E"); }

.country--1 .country__current-rank, .country--2 .country__current-rank, .country--3 .country__current-rank {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  font-weight: 700;
  z-index: 5;
  border: none;
  background-color: #fdcb6e;
  color: white; }

.country--1 .country__current-rank + .country__flag, .country--2 .country__current-rank + .country__flag, .country--3 .country__current-rank + .country__flag {
  visibility: hidden; }

.country--3 {
  background-color: #fdcb6e;
  color: white; }

.country--3 .country__rank {
  color: white; }

.country--3 .country__current-rank {
  background-color: white;
  color: #0984e3; }

.country--3 .country__name {
  color: white; }

.country--3 .country__name:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFFFFF' d='M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z' /%3E%3C/svg%3E"); }

.Scoreboard {
  display: flex;
  align-items: center;
  padding: 24px;
  background-color: #0984e3; }

.Scoreboard > div {
  columns: 2;
  column-gap: 8px;
  width: 100%; }

button {
  appearance: none;
  border: none;
  background-color: #0767b2;
  color: white;
  font-family: "Gotham", sans-serif;
  padding: 6px 8px;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0 8px 8px 0;
  transition: 0.4s ease; }

button:focus {
  outline: none; }

button:hover {
  opacity: 0.75;
  cursor: pointer; }

.Button--12 {
  background-color: #fdcb6e;
  color: white; }

#picker {
  padding: 48px; }

#picker .country {
  display: inline-block;
  margin: 0 8px 8px 0;
  background-color: white;
  color: black;
  border: none; }

#picker .country__flag {
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  margin: 0 6px 0 4px; }

#picker .country__name {
  display: inline-block;
  padding: 6px 8px 6px 0;
  text-transform: uppercase;
  font-family: "Gotham"; }

#picker .country__name2 {
  display: inline-block;
  padding: 4px 6px 4px 6px;
  text-transform: uppercase;
  font-family: "Gotham"; }

#picker > button {
  float: right;
  font-size: 11px;
  margin-top: 24px; }

.vote {
  background-color: #0876ca;
  counter-increment: count;
  position: relative;
  padding: 4px 8px;
  margin-bottom: 8px; }

.vote .country {
  margin-bottom: 0; }

.vote .country__name {
  font-size: 16px;
  font-family: "Intro"; }

.vote .country--small {
  background-color: transparent; }

.vote:after {
  content: counter(count);
  font-size: 13px;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%); }

.votingPanel {
  padding: 24px;
  background-color: #0984e3;
  margin: 0 auto;
  counter-set: count;
  max-width: 480px; }

@media only screen and (max-width: 720px) {
  .votingPanel {
    max-width: 100%; } }

.votingPanel h2 {
  margin: 0 0 8px;
  font-size: 16px;
  display: none; }

.votingPanel .Dropdown-root {
  margin-bottom: 24px; }

.votingPanel .Dropdown-control {
  font-size: 13px;
  padding: 8px 52px 6px 10px;
  border: none;
  border-radius: 0;
  background-color: #fdc255;
  color: white;
  font-family: "Intro"; }

.votingPanel .Dropdown-arrow {
  top: 12px;
  border-color: white transparent transparent; }

.votingPanel .Dropdown-menu {
  border: none;
  font-size: 13px;
  background-color: #0767b2; }

.votingPanel .Dropdown-option {
  color: white;
  font-family: "Intro"; }

.votingPanel .Dropdown-option:hover {
  background-color: #fdcb6e; }

.votingPanel .Dropdown-option.is-selected {
  background-color: #0984e3; }

.votingPanel button {
  background-color: #fdcb6e;
  font-size: 16px;
  margin-top: 8px;
  width: 100%;
  display: block;
  font-family: "Intro"; }

.results {
  display: grid;
  grid-template-columns: 640px auto;
  grid-template-rows: 360px auto;
  grid-gap: 0;
  height: 100vh;
  padding: 64px 96px;
  position: relative;
  overflow: hidden; }

.results--done .results__video {
  font-size: 0; }

.results--done .results__video:after {
  content: "That's it!";
  font-size: 48px; }

.results--done .results__qualifiers + button {
  background-color: #0876ca;
  font-size: 0;
  pointer-events: none; }

.results--done .results__qualifiers + button:after {
  content: "No more qualifiers";
  font-size: 16px; }

.results__qualifiers {
  columns: 2;
  column-gap: 8px; }

.results__qualifiers + button {
  background-color: #fdcb6e;
  width: 100%;
  display: block;
  font-size: 16px;
  font-family: "Intro";
  margin-top: 8px; }

.results__qualifiers .country--unknown .country__flag {
  visibility: hidden; }

.results__right {
  display: flex;
  flex-flow: row wrap;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 24px;
  background-color: #0984e3;
  grid-row: 1 / 3; }

.results__right h2 {
  text-align: center; }

.results__left {
  grid-row: 1 / 3;
  background-color: #0876ca; }

.results__video {
  overflow: hidden;
  grid-row: 1 / 2;
  height: 360px;
  background-color: #fdcb6e;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Intro";
  font-size: 48px; }

.results__countries {
  padding: 24px;
  text-align: left;
  position: relative;
  grid-row: 2 / 3;
  columns: 2;
  column-gap: 8px; }

.results__countries .country {
  margin-bottom: 8px;
  background-color: #0984e3; }

.results__countries .country__name {
  padding: 4px 0 2px;
  font-size: 12px;
  font-family: "Intro"; }

.results__countries .country__flag {
  padding: 0 0 0 6px; }

.results__countries .country__flag img {
  width: 20px;
  height: 12px; }

.results .qualifier__revealed {
  position: absolute;
  top: 64px;
  left: 96px; }
