* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham-Medium.otf");
}

body {
  margin: 0;
  padding: 0;
  background-position: center;
  font-family: "Gotham", sans-serif;
  background-color: #0f1110;
  color: white;
}

.App {
  background-color: #565656;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 88% 12%;
  grid-gap: 24px 0;
  height: 100vh;
  padding: 72px 128px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("img/runners-up.jpg");
}

.Voting {
  background-color: darken(#565656, 10%);
  text-align: left;
  padding: 24px;
  display: flex;
  flex-flow: column nowrap;
  border-top: 2px solid lighten(#565656, 10%);
  border-bottom: 1px solid lighten(#565656, 10%);
  justify-content: center;
  position: relative;

  h1 {
    font-size: 64px;
    margin: 0 0 8px;
    text-transform: capitalize;
    color: #d1d1d1;
    font-family: "Covered By Your Grace";
    font-weight: 400;
  }
}

.Ranking {
  button {
    width: 100%;
    margin: 0;
    padding: 4px 0;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: rgba(white, 0.5);
    border-top: none;
    text-align: left;
  }
  & + div {
    clear: both;
  }
}

.save-button {
  margin: 0;
  padding: 4px 0;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  color: rgba(white, 0.5);
  border-top: none;
  text-align: left;
}

.country {
  break-inside: avoid;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  color: white;
  font-size: 16px;
  margin: 0;
  position: relative;
  background-color: darken(#565656, 10%);
  margin-bottom: 3px;

  &__rank {
    margin-left: auto;
    text-align: right;
    margin-right: 12px;
    font-size: 13px;
    color: white;
    padding-top: 4px;
    opacity: 0.5;
  }

  &__name {
    padding: 10px 0 9px;
  }

  &__flag {
    vertical-align: middle;
    margin: 0;
    margin-right: 12px;

    img {
      display: block;
      width: 56px;
      height: 36px;
      filter: saturate(1.5);
    }
  }
  
  &__average {
    text-align: right;
    padding: 6px 12px 4px;
    width: 72px;
    background-color: transparent;
    font-size: 16px;
  }

  &--small {
    font-size: 11px;
    transition: .4s ease;
    margin: 0 0 1px;
    background: transparent;
    .country {
      &__rank {
        padding: 0 8px;
        float: right;
        margin-left: auto;
        margin-right: 0;
        font-size: 10px;
      }
      &__name {
        padding: 2px 0;
        font-family: "Gotham";
        font-size: 12px;
        text-transform: capitalize;
      }
      &__flag {
        margin-right: 8px;
        img {
          width: 18px;
          height: 12px;
        }
      }
    }

    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }

  &--1, &--2, &--3 {
    background-color: lighten(#565656, 1%);
    position: relative;
    .country {
      &__average {
        
      }
      &__rank {
        
      }
      &__current-rank {
        margin: 0;
        width: 56px;
        height: 38px;
        line-height: 38px;
        text-align: center;
        color: white;
        position: absolute;
        left: 0;
        font-size: 36px;
        font-weight: 400;
        z-index: 5;
        border: none;
        background-color: #969696;
        font-family: "Covered By Your Grace", sans-serif;
        & + .country__flag {
          visibility: hidden;
        }
      }
      &__flag {
        
      }
      &__average {
        
      }
    }
  }
  &--3 {
    background-color: #ffffff;
    color: #565656;
    background-image: none;
    .country {
      &__rank {
        color: rgba(#565656, 0.5);
      }
    }
  }
}

.Scoreboard {
  display: flex;
  align-items: center;
  padding: 24px;
  background-color: darken(#565656, 5%);
  border-top: 2px solid lighten(#565656, 10%);
  border-bottom: 1px solid lighten(#565656, 10%);
  >div {
    columns: 2;
    column-gap: 24px;
    width: 100%;
  }
}

button {
  appearance: none;
  border: none;
  background-color: rgba(#ffffff, 1);
  color: #565656;
  font-family: "Gotham", sans-serif;
  padding: 6px 8px;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 2px;
  transition: .4s ease;
  &:hover {
    opacity: 0.75;
    cursor: pointer;
  }
}

.Button {
  &--12 {
    background-color: #575757;
    color: white;
  }
}

#picker {
  padding: 48px;
  .country {
    display: inline-block;
    margin: 0 8px 8px 0;
    background-color: white;
    color: black;
    border: none;
    &__flag {
      display: inline-block;
      padding: 0;
      vertical-align: middle;
      margin: 0 4px;
    }
    &__name {
      display: inline-block;
      padding: 4px 4px 4px 0;
      text-transform: uppercase;
      font-family: "Gotham";
    }
    &__name2 {
      display: inline-block;
      padding: 4px 6px 4px 6px;
      text-transform: uppercase;
      font-family: "Gotham";
    }
  }
  > button {
    float: right;
    font-size: 11px;
    margin-top: 24px;
  }
}