@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  box-sizing: border-box; }

@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham-Medium.otf"); }

body {
  margin: 0;
  padding: 0;
  background-position: center;
  font-family: "Gotham", sans-serif;
  background-color: black;
  color: white; }

.App {
  background-color: black;
  background-image: url("img/pebble.png");
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 88% 12%;
  grid-gap: 24px;
  height: 100vh;
  padding: 72px 128px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.Voting {
  background-color: rgba(185, 182, 175, 0.1);
  text-align: left;
  padding: 24px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border-radius: 16px; }

.Voting h1 {
  text-transform: capitalize;
  font-size: 32px;
  margin: 0 0 24px; }

.Ranking button {
  width: 100%;
  margin: 0;
  padding: 4px 0;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  color: #b9b6af;
  border-top: none;
  text-align: left; }

.Ranking + div {
  clear: both; }

.save-button {
  margin: 0;
  padding: 4px 0;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  color: #b9b6af;
  border-top: none;
  text-align: left; }

.country {
  break-inside: avoid;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  color: white;
  font-size: 16px;
  margin: 0 0 8px;
  position: relative; }

.country__rank {
  margin-left: auto;
  text-align: right;
  margin-right: 12px;
  font-size: 13px;
  color: white;
  padding: 8px 0;
  opacity: 0.2; }

.country__name {
  padding: 8px 8px 6px; }

.country__flag {
  padding: 4px;
  vertical-align: middle;
  margin: 0 4px 0 0; }

.country__flag img {
  display: block;
  width: 40px;
  height: 28px;
  filter: saturate(1.5); }

.country__average {
  text-align: right;
  padding: 6px 12px 4px;
  width: 64px;
  background-color: transparent; }

.country--small {
  font-size: 11px;
  transition: .4s ease;
  margin: 0 0 4px; }

.country--small .country__rank {
  padding: 0 8px;
  float: right;
  margin-left: auto;
  margin-right: 0;
  font-size: 10px; }

.country--small .country__name {
  padding: 4px 0; }

.country--small .country__flag {
  padding: 0;
  margin: -2px 8px 0 0;
  border: 0; }

.country--small .country__flag img {
  width: 28px;
  height: 20px; }

.country--small:hover {
  opacity: 0.5;
  cursor: pointer; }

.country--1, .country--2 {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 240px; }

.country--1 .country__current-rank, .country--2 .country__current-rank {
  margin: 0;
  width: 40px;
  height: 28px;
  line-height: 32px;
  text-align: center;
  color: black;
  background-image: url("img/blob.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: absolute;
  left: 0;
  font-size: 13px;
  z-index: 5;
  border: none; }

.country--1 .country__current-rank + .country__flag, .country--2 .country__current-rank + .country__flag {
  visibility: hidden; }

.Scoreboard {
  display: flex;
  align-items: center;
  padding: 24px; }

.Scoreboard > div {
  columns: 2;
  column-gap: 36px;
  width: 100%; }

button {
  appearance: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-family: "Gotham", sans-serif;
  padding: 4px 8px 3px;
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 2px;
  transition: .4s ease;
  border-radius: 240px; }

button:hover {
  opacity: 0.75;
  cursor: pointer; }

#picker {
  padding: 48px; }

#picker .country {
  display: inline-block;
  margin: 0 8px 8px 0;
  background-color: #b9b6af;
  color: #0b061e; }

#picker .country__flag {
  display: inline-block; }

#picker .country__name {
  display: inline-block;
  padding: 4px 6px 3px 0; }

#picker .country__name2 {
  display: inline-block;
  padding: 4px 6px 2px 6px;
  text-transform: uppercase; }

#picker > button {
  float: right;
  font-size: 11px;
  margin-top: 24px;
  padding-bottom: 2px; }
