@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Medium.otf');
}

$color-primary: #111;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("img/we-are-one.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Tahoma", sans-serif;
  background-color: #111;
  overflow: hidden;
}

.Buttons {
  text-align: center;
}

.Button {
  background: #930005;
  color: white;
  border: 0;
  display: inline-block;
  margin-left: 16px;
  padding: 8px 12px;
  font-weight: 700;
  border-radius: 240px;
  transition: .4s ease;
  font-family: "Gotham";
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    color: white;
    background-color: lighten($color-primary, 5%);
  }
}

.App {
  padding: 48px 48px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 240px auto 156px;
  background-image: url("img/confluence.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 100vh;
  align-items: center;
  grid-template-areas:
    "logo votes"
    "scoreboard votes"
    "footer votes"
    "votingbuttons votes";
}

.Logo {
  grid-area: logo;
  text-align: center;
}

.country {
  text-align: left;
  flex-grow: 1;
  color: #030076;
  background-image: linear-gradient(to right, #e4f2fa 0%, #e4f2fa 85%, transparent 100%);
  margin: 0 32px 12px 0;
  padding: 1px 32px 1px 8px;
  width: 100%;
  font-size: 22px;
  break-inside: avoid;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .2);
  border-radius: 2px 0 0 2px;

  &--small {
    position: relative;
    font-size: 14px;
    padding: 2px 8px;
    margin: 0 0 8px;
    min-width: 326px;

    .country {
      &__flag {
        float: none;
        margin-left: 0;
        border-left: 0;
        img {
          width: 22px;
          height: 18px;
        }
      }
      &__rank {
      }
    }
  }

  &--tiny {
    position: relative;
    font-size: 8px;
    padding: 2px 8px;
    margin: 0 0 2px;
    min-width: 100px;

    .country {
      &__flag {
        img {
          width: 22px;
          height: 18px;
        }
      }
    }
  }

  &:not(&--small):nth-of-type(-n+10) {
    background-color: #1a3a41;
  }
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &__rank {
    width: 32px;
    margin-right: 16px;
    text-align: center;
  }

  &__name {

  }

  &__flag {
    margin-right: 16px;

    img {
      display: block;
      width: 22px;
      height: 24px;
    }
  }

  &__average {
    margin-left: auto;
    text-align: right;
    margin-right: 16px;
  }
}

.Scoreboard {
  grid-area: scoreboard;
  border-right: 0;
  width: 100%;
  padding: 0;

  >div {
    columns: 2;
  }
}

.Voting {
  grid-area: votes;
  padding: 12px 24px;
  width: 100%;
  color: white;
  position: relative;
  min-height: 68vh;
  min-width: calc(326px + 24px + 24px);
  h1 {
    text-align: center;
    display: block;
    color: #030076;
    position: relative;
    padding: 16px 0 16px 56px;
    text-transform: uppercase;
    height: 72px;
    font-size: 28px;
    margin-bottom: 24px;
    background-image: url("img/splash.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    &:before {
      content: "";
      display: block;
      width: 128px;
      height: 128px;
      background-image: url("img/treble.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: -32px;
      left: 16px;
    }
  }
}

.Buttons {
  grid-area: footer;
}

.Ranking {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}


.VotingButtons {
  grid-area: votingbuttons;
  width: 100%;
  padding: 0 36px;

  >div {
    columns: 7;
  }
}