@font-face {
  font-family: 'Gotham';
  src: url("fonts/Gotham-Medium.otf"); }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-position: center;
  font-family: "Arial", sans-serif;
  background-color: #111;
  overflow: hidden; }

.Buttons {
  text-align: center; }

.Button {
  background: white;
  color: black;
  border: 0;
  display: inline-block;
  margin-left: 16px;
  padding: 8px 12px;
  font-weight: 700;
  transition: .4s ease;
  font-family: "Arial";
  text-transform: uppercase; }

.Button:hover {
  cursor: pointer;
  color: white;
  background-color: #1e1e1e; }

.App {
  padding: 48px 48px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 156px auto 56px;
  grid-gap: 24px;
  height: 100vh;
  align-items: center;
  grid-template-areas: "logo votes" "scoreboard votes" "footer votes" "votingbuttons votes"; }

.Ranking button {
  appearance: none;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: white;
  font-weight: 700;
  margin: 24px auto;
  display: block; }

.Ranking button:hover {
  cursor: pointer;
  opacity: 0.5; }

.Logo {
  grid-area: logo;
  text-align: center; }

.country {
  text-align: left;
  flex-grow: 1;
  margin: 0 32px 12px 0;
  padding: 2px 2px 2px 8px;
  width: 100%;
  font-size: 22px;
  break-inside: avoid;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  color: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center; }

.country--small {
  position: relative;
  font-size: 14px;
  padding: 2px 8px;
  margin: 0 0 8px;
  min-width: 326px; }

.country--small .country__flag {
  float: none;
  margin-left: 0;
  border-left: 0; }

.country--small .country__flag img {
  width: 22px;
  height: 18px; }

.country--tiny {
  position: relative;
  font-size: 10px;
  padding: 2px 8px;
  margin: 0 0 2px;
  min-width: 100px; }

.country--tiny .country__flag img {
  width: 22px;
  height: 18px; }

.country__rank {
  width: 32px;
  margin-right: 16px;
  text-align: center; }

.country__flag {
  margin-right: 16px; }

.country__flag img {
  display: block;
  width: 22px;
  height: 24px; }

.country__average {
  margin-left: auto;
  text-align: right;
  margin-right: 16px; }

.Scoreboard {
  grid-area: scoreboard;
  border-right: 0;
  width: 100%;
  padding: 0; }

.Scoreboard > div {
  columns: 2; }

.Voting {
  grid-area: votes;
  padding: 12px 24px;
  width: 100%;
  color: white;
  position: relative;
  min-height: 68vh;
  min-width: calc(326px + 24px + 24px); }

.Voting h1 {
  text-align: center;
  display: block;
  position: relative;
  padding: 16px 0;
  text-transform: uppercase;
  height: 72px;
  font-size: 28px;
  margin-bottom: 24px;
  position: relative; }

.Buttons {
  grid-area: footer; }

.Ranking {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.VotingButtons {
  grid-area: votingbuttons;
  width: 100%;
  padding: 0;
  text-align: center; }

.VotingButtons > div {
  columns: 4; }

.VotingButtons + div {
  text-align: center; }

.VotingButtons + div button {
  appearance: none;
  color: white;
  text-transform: uppercase;
  padding: 2px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  margin: 0 8px; }

.VotingButtons + div button:hover {
  cursor: pointer;
  opacity: 0.5; }
